.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 400px;
}

.jumbotron {
    margin-bottom: 4em;
    color: lightgrey;
    background-color: #282c34;
}



h2 {
    margin-bottom: 1em;
    font-size: 40px;
}

body{
    color: lightgrey;
}

